.card{
  /* background: var(--base-color); */
  /*background: rgba(129, 127, 127, 0.53); */
  /*background-color: hsl(from var(--primary-color) h s l / 0.5);*/
  background-color: rgba(0, 0, 0, 0.53);
  height: 14rem;
  width: 14rem;

  border: 3px solid var(--light-gray);
  border-radius: 0.6rem;
  color: var(--card-outline);

  overflow: hidden;
}


.top{
  display: flex;
  justify-content: center;
  align-items: center;

  height: auto;
  max-height: 70%;


}

.top img {
  /* border: 1px solid #ddd; */
  border-radius: 4px;
  padding: 8%;
  width: 50%;
  height: 50%;

}

.bottom img {
  /* border: 1px solid #ddd; */
  height: 4rem;
  width: auto;
  object-fit: contain ;
}

.bottom{
  border-top: 1px solid #ddd;
  display:flex;
  flex-direction: column;

  height: 40%;

  background: #2A2A2A;

}

.bottom p{
  color: white;
  text-align: left;
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.desc-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 50%;
  padding-left: 0.4rem;
  padding-right: 0.3rem;
}

.desc-bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-height: 50%;
  gap:0.4rem;
}

.types {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 1rem;

  height: 100%;
  width:100%;
}

.card:hover {
  background-color: rgba(0, 0, 0, 0.7);
  border-color: var(--card-outline);
  transform: scale(1.15);
}


.card:hover #animation {
  color: var(--card-outline);
}

.card {
  transition: transform 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}
