.pokemon-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 4rem;
}

/* Haut de page */


.id-type {
  display: flex;
  align-content: center;
  gap: 0.5rem;
  padding: 0;
  margin-top: 1rem;
}

.id-type p {
  margin: 0;
  padding: 0;
}

.title {
  color: white;
}

.type {
  display: flex;
  gap: 0.5rem;
  padding: 0rem;
  margin: 0;
}

#pokeId {
  font-size: 2rem;
  margin: 0;
  padding-left: 0.5rem;
}

#pokeName {
  font-size: 5rem;
  margin: 0;
  padding: 0.5rem;
  width: 100%;
}

/* Info de pokemon */

.pokemon {
  display: flex;
  flex-direction: row;
  color: white;
  gap: 1rem;
}

.pokemon .left {
  width: 30%;
}


/* A FAIRE L'image de CON LA PUTAIN DE CSS QUI ME FAIT CHIER DEPUIS 2 HEURES  et le header ^^ */

.pokemon .left .img {
  border: 4px solid var(--card-outline);
  background-color: #292929;
  border-radius: 10px;

  height: auto;
  width: 100%;

}

.pokemon .left .img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 60%;

  object-fit: contain;
}

.pokemon .left .taille-poid {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
}

.pokemon .left .taille-poid-item {
  border: 4px solid var(--card-outline);
  border-radius: 10px;
  background-color: #292929;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 52%;
  max-width: 52%;

  margin: 0;
  padding: 1rem 0rem;
  max-height: 8rem;
}

.pokemon .left #desc {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
}

.pokemon .left #value {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}


.pokemon .right {
  background-color: #3acc98;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 1rem 5rem;
}

.pokemon h1 {
  text-align: center;
  font-size: 5rem;

  margin: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
