.pokemon {
  display: flex;
}

.pokemon .left{
  background-color: #794040;
  width: 30%;
}

.pokemon .right{
  background-color: #c7d040;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 1rem 5rem;
}

.pokemon h1{
  text-align: center;
  font-size: 5rem;

  margin: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
