.pokemon {
  display: flex;
}

.pokemon .left{
  background-color: var(--secondary-color);
  width: 30%;
}

.pokemon .right{
  background-color: var(--base-darker);
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 1rem 5rem;
}

.pokemon h1{
  text-align: center;
  font-size: 5rem;

  margin: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.type {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 0.5rem;
  padding: 0;
  margin: 0;
}
