@if (isLoading) {
  <h1>Loading...</h1>
} @else {
  @if (pokemon) {
    <div class="title">
      <div class="left">
        <h1>{{ pokemon.name }}</h1>
        <div class="type">
          @for (type of pokemon.apiTypes ; track type.name){
            <app-type type="mamamiam"></app-type>
          }
        </div>

      </div>
      <div class="right"></div>
    </div>

    <div class="pokemon">

      <div class="left">
        <img [src]="pokemon.image" alt="prout" />
        <h2>Taille  60cm</h2>
        <h2>Poid 12Kg</h2>

      </div>


      <div class="right">
        <h1>Statistiques</h1>
        <app-stats [stats]="pokemon.stats"></app-stats>
      </div>


    </div>


  } @else {
    <h1>Aucun Pokémon trouvé.</h1>
  }
}
