.bar {
  margin: 0;
  /* font-size: 10px */
  width: 30em;
  height: 1em;
  border-radius: 0.5em;
  position: relative;
  background: #f2f2f2;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
}

.bar .percentage {
  position: relative;
  font-size: 1em;
  background: tomato;
  height: 1em;
  border-radius: 0.5em;
}

