.header {
  background-color: var(--color-gray-800);
  border-bottom: 2px solid var(--light-gray);
  position: sticky  ; /* create stacking context so z-index works */
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
}

a {
  color: white;
}

.nav {

  text-decoration: none;
  max-width: 70rem;
  margin: 0 auto;
  padding: 10rem;
  width: 100%;
  height: 100%;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style: none;
  color : white;
}

.nav-item {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-weight: 500;
}

.nav-item:hover {
  color: red;
  background-color: #d92aae;
  border : #7e85d9 4px solid;
}

.nav-item--user {
  margin-left: auto;
}

@media (max-width: 768px) {
  .nav-list {
    flex-wrap: wrap;
    gap: 16px;
  }

  .nav-item--user {
    margin-left: 0;
  }
}
