.type {
  border: 2.5px solid #000000;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 1.5rem;
  width: auto;

  padding: 0;
  margin: 0;
}

.p {
  margin: 0;
  padding: 0;

}
