.type {
  border: 2.5px solid #000000;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: auto;

  padding: 0.15rem 0.2rem;
  margin: 0;

  background-color: #A13EA1;
}

.p {
  margin: 0;
  padding: 0;

}

:host {
  display: flex;
  /* justify-content: center; */ /* Décommenter si nécessaire */
  align-items: center;
}
