.star-stats-root {
  width: 100vh;
  height: 100vh; /* Prend toute la hauteur de la fenêtre */
  display: flex;
  justify-content: center;
  align-items: center;
}

.star-stats-chart {
  width: 90%; /* 90% de la largeur du parent */
  height: 90%; /* 90% de la hauteur du parent */
  min-height: 500px; /* Hauteur minimale pour éviter un graphique trop petit */
}
