


.left{
  margin-left: 2rem;
}

.right{
  margin-left: auto;
  margin-right: 5rem ;
}

.equipes{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;


  background-color: #d92aae;
  padding : 1rem;
  gap: 1rem;

  min-height: 3rem;
}

.equipe{
  background-color: #191d67;
  display: flex;
  justify-content: flex-end;
  width: 100rem;
  padding : 1rem;
  gap:1rem;
}
