
.title {
  background-color: #87e1de;
  display: flex;
  align-items: center;
  gap: 24px;
  list-style: none;
  padding: 1rem;
}

.left{
  margin-left: 2rem;
}

.right{
  margin-left: auto;
  margin-right: 5rem ;
}

.pokedex {
  background-color: #e17474;
  height: 60rem;
  padding: 2rem;
}

.filter {
  height: 5rem;
  background: #2839b0;

  display: flex;
  align-items: center;

  gap: 1rem;
}

.pokemons{
  height: auto;
  background: #4cd297;
  padding: 1rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: space-evenly;
  gap:1rem;
}

