
.left{
  margin-left: 2rem;
}

.right{
  margin-left: auto;
  margin-right: 5rem ;
}

.pokedex {
  background-color: var(--base-darker);
  padding: 2rem;
}

.filter {
  height: 5rem;
  background: var(--base-color);

  display: flex;
  align-items: center;

  gap: 1rem;
}

.pokemons{
  height: auto;
  background: var(--secondary-color);
  padding: 1rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap:1rem;
}

