/* You can add global styles to this file, and also import other style files */

:root {
  /* Couleurs principales */
  --base-color: hsl(25, 60%, 43%);
  --primary-color: hsl(from var(--base-color) h s calc(l + 10));
  --secondary-color: hsl(from var(--base-color) h s calc(l + 20));
  --base-darker: hsl(from var(--base-color) h s calc(l - 5));
  --base-black: hsl(from var(--base-color) h s calc(l - 10));
}

body {
  background-color: var(--base-darker);
  margin: 0;
  padding: 0;
  color : var(--primary-color);
}

*{
  text-decoration: none;
  color:white;
}

.title {
  color:white;
  background-color: var(--base-color);
  display: flex;
  align-items: center;
  gap: 24px;
  list-style: none;
  padding: 1rem;
}
